<div class="container mt-3">
  <h1> Your Requested List </h1>

  <%= @list.name %>
  <br>
  <%= link_to "Home Page", lists_path, class: "btn btn-primary"%>

  <br>

  <h3> <%= link_to "Add a Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary"  %> </h3>
</div>
